
*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 100px;
    background-color: rgb(8, 8, 8);
    border: 5px rgb(15, 180, 0) solid;
}.container{
    width: 80%;
    height: 100%;
 margin: auto;
    background-color: rgb(0, 0, 0);
}.header  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}.navbar{
    display: flex;
    justify-content: row;
    list-style: none;
    width: 50%;
    justify-content: space-between;
    background-color: white;
} .navbar .active{
    font-weight: bolder;
}h1{
    color: aquamarine;
}.navbar li a{
 color: black;
    text-decoration: none;
}